* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
}
h3{
  font-size: 20px;
  margin-bottom: 3px;
  padding: 5px 20px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  align-self: flex-end;

}
.item1{
  background-color: orange;
}
.item2{
  background-color: rgb(222, 13, 166);
  color: white;
}
.item3{
  background-color: linen;
}
p{
  padding: 10px;
  font-size: 18px;
}

 .row { 
  display: flex;
  flex-wrap: wrap;
 } 
 .row div{
  background-color:  rgb(165, 207, 181);
  display: flex;
  flex-direction: column;
  border: 2px solid black;
 
 }


  @media (max-width: 768px) { .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,  .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 
    {margin: 2% 2% 0 2%;}
      .col-sm-1 {
        flex: 6.16%;
      }

      .col-sm-2 {
        flex: 14.33%;
      }

      .col-sm-3 {
        flex: 22.5%;
      }

      .col-sm-4 {
        flex: 30.666%;
      }

      .col-sm-5 {
        flex: 38.83%;
      }

      .col-sm-6 {
        flex: 47%;
      }

      .col-sm-7 {
        flex: 55.16%;
      }

      .col-sm-8 {
        flex: 63.33%;
      }

      .col-sm-9 {
        flex: 71.5%;
      }

      .col-sm-10 {
        flex: 79.66%;
      }

      .col-sm-11 {
        flex: 87.83%;
      }

      .col-sm-12 {
        flex: 96%;
      }
    }
  @media (min-width: 769px) and (max-width: 992px) { .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,  .col-md-9, .col-md-10, .col-md-11, .col-md-12 
    {margin: 2% 0 0 2%;}
    .row div:nth-of-type(2){ margin-right: 2%;}
    .row div:nth-of-type(3){ margin-right: 2%;}
      .col-md-1 { 
      flex: 6.16% 
      } 
      .col-md-2 { 
      flex: 14.33%; 
      } 
      .col-md-3 { 
      flex: 22.5%; 
      } 
      .col-md-4 { 
      flex: 30.666%;

      } 
      .col-md-5 { 
      flex: 38.83%
      } 
      .col-md-6 { 
      flex: 47%
      } 
      .col-md-7 { 
      flex: 55.16%;

      } 
      .col-md-8 { 
      flex: 63.33%;

      } 
      .col-md-9 { 
      flex: 71.5% 
      } 
      .col-md-10 { 
      flex: 79.66%;
      } 
      .col-md-11 { 
      flex: 87.83%;

      } 
      .col-md-12 { 
      flex: 96%; 
      }
     } 

  @media (min-width: 993px) {.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,  .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 
    {margin: 2% 0 0 2%;}
    .row div:nth-of-type(3){ margin-right: 2%;}
  
      .col-lg-1 {
        flex: 6.16%;
      }
    
      .col-lg-2 {
        flex: 14.33%;
      }
    
      .col-lg-3 {
        flex: 22.5%;
      }
    
      .col-lg-4 {
        flex: 30.666%;
      }
    
      .col-lg-5 {
        flex: 38.83%;
      }
    
      .col-lg-6 {
        flex: 47%;
      }
    
      .col-lg-7 {
        flex: 55.16%;
      }
    
      .col-lg-8 {
        flex: 63.33%;
      }
    
      .col-lg-9 {
        flex: 71.5%;
      }
    
      .col-lg-10 {
        flex: 79.66%;
      }
    
      .col-lg-11 {
        flex: 87.83%;
      }
    
      .col-lg-12 {
        flex: 96%;
      }
    }